*{
    font-family: 'Noto Sans Kannada', sans-serif;
    margin: 0;
}

body{
    background: #141414;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

.menu-principal{

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    font-size:smaller;
    position: fixed;
    z-index: 9998;
    transition: all 1s;
}

.menu-principal ul{
    list-style: none;
    display: flex;
    gap: 20px;
}


.menu-principal ul li a{
    text-decoration: none;
    color: #fff !important;
    padding: 0;
    transition: .3s;
}

.menu-primario ul li a:hover{
    color: #c2c2c2 !important;
    transition: .3s;
}

.menu-principal ul li{
    padding: 0;
    margin: 0;
}

.contenedor-menuprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;    
    align-content: center;
    padding: 0 4%;
    gap: 50px;
}

.contenedor-logo{
    width: 95px;
    display: flex;
}

.contenedor-logo img{
    width: 100%;
}

.menu-primario{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-secundario{
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    position: absolute;
    gap: 20px;
    right: 4%;
}

.elemento-navegacion a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contenedor-dvd a{
    color: #fff;
}

.pesta침a-buscador{
    display: flex;
}

.contenedor-buscador{
    display: flex;

}

.contenedor-buscador .buscar{
    display: flex;
    align-items: center;
    visibility: hidden;
    width: 230px;
    z-index: 1;
    border: solid #fff 1px;
}
.contenedor-buscador .buscar input{
    width: 100%;
    background: #14141480;
    color: #fff;
    height: 20px;
    border: solid #fff 1px;
    padding: 5px;
    border: 10px;
}

.contenedor-buscador:hover .buscar{
    visibility: visible;
}


.pesta침a-buscador, .menu-notificaciones{
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    cursor: pointer;
    display: flex;
}


/*Notificaciones*/


.lista-notificaciones{
    height: 415px;
    margin-left: -340px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: .7rem;
    background: #000000cb;
    border: #8b8b8b6c solid 1px;
    border-top: #ffffff solid 3px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0;
    visibility: hidden;
}

.notificaciones:hover .lista-notificaciones{
    visibility: visible;
}

.notificaciones .lista-icon{
    margin-top: -2px;
    margin-left: -11px;
    font-size: 3rem;
    color: #fff !important;
    position: absolute;
    visibility: hidden;
}

.notificaciones:hover .lista-icon{
    visibility: visible;
}

.lista-notificaciones ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    gap: 0;
}

.lista-notificaciones .notificacion-item{
    width: 320px;
    display: flex;
    border-top: solid 1px #8b8b8b6c;
    padding: 20px !important;
}

.lista-notificaciones .notificacion-item:first-child{
    border-top: none;
}

.lista-notificaciones .notificacion-item:hover{
    background: #000000;
    transition: .1s;
    cursor: pointer;
}

.notificacion-item .img-notificacion{
    width: 120px;
    display: flex;
}

.notificacion-item .img-notificacion img{
    width: 100%;
    border-radius: 5px;
}

.notificacion-item .texto-notificacion{
    display: flex;
    flex-direction: column;
    color: #afafaf;
}

.notificacion-contador{
    justify-content: center;
    align-items: center;
    background: #e50914;
    border-radius: 1000px;
    min-width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    margin-top: -3px;
    margin-left: 15px;
    padding: 0.2rem;
    font-size: .7em;
}

.boton-cuenta-desplegable{
    display: flex;
    align-items: center;
    color: #fff;
}

.boton-cuenta-desplegable a{
    display: flex;
    align-items: center;
    color: #fff;
}

.enlace-perfil img{
    border-radius: 5px;
}

.mas-perfiles{
    display: flex;
    align-items: center;
}

.lista-perfiles{
    width: 200px;
    visibility: hidden;
    margin-top: 540px;
    margin-left: -150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: .7rem;
}

.lista-perfiles .perfil-item{
    display: flex;
    align-items: center;
}

.lista-perfiles .perfil-item span{
    font-size: 1.1rem;
    cursor: pointer;
}

.lista-perfiles ul{
    background: #000000d2;
    display: block;
    padding: 10px 10px 0;
    border: solid #8b8b8b6c 1px;
    border-bottom: none;
}


.lista-perfiles ul li{
    margin-bottom: 15px;
}

.boton-cuenta-desplegable .lista-icon{
    margin-top: 70px;
    margin-left: -6px;
    font-size: 3rem;
    position: absolute !important;
    visibility: hidden;
}

.lista-perfiles .material-symbols-outlined{
    color: #a3a3a3;
}

.lista-perfiles ul li, a{
    display: flex;
    gap: 15px;
}

.lista-perfiles ul li a:hover{
    text-decoration: underline;
}

.lista-perfiles ul li img{
    width: 35px;
    border-radius: 5px;
}

.boton-cuenta-desplegable:hover .lista-perfiles{
    visibility: visible;
    transition: 2s;
}

.boton-cuenta-desplegable:hover .lista-icon{
    visibility: visible;
}

.boton-cuenta-desplegable .ver-perfiles{
    transition: 0.4s;
}

.boton-cuenta-desplegable:hover .ver-perfiles{
    transform: rotate(180deg);
    transition: 0.4s;
}

.lista-perfiles .no-perfil:hover{
    cursor: pointer;
}

.lista-perfiles .no-perfil:hover a:first-child{
    text-decoration: none !important;
}

.cerrar-netflix{
    border: solid #8b8b8b6c 1px;
    display: flex;
    justify-content: center;
    background: #000000e7;
    padding: 20px 0;
}

.cerrar-netflix:hover{
    text-decoration: underline !important;
}
/*Video previsualizaci칩n*/
.trailler{
    width: 100%;
    height: 100vh;
}

.trailler .contenedor-trailler{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.trailler .contenedor-trailler iframe{
    width: 100%;
    height: 100vh;
    transform: scale(1.5);
}

.info-triller{
    position: absolute;
    bottom: 25%;
    left: 4%;
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
    display: flex;
}

.info{
    width: 40%;
}

.info-triller h3{
    font-size:3rem;
}

.info-triller p{
    font-size:small;
}

.botones-triller{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.botones-triller button{
    padding: 10px 20px;
    display: flex;
    align-items: flex-end;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    
}

.botones-triller button:last-child{
    background: #3030309a;
    color: #fff;
}

.botones-triller button:hover{
    opacity: 0.9;
}

.componentes-triller{
    height: 30px;
    display: flex;
    position: absolute;
    align-items: center;
    gap: 10px;
    right: 0;
    margin-top: -200px;
    color: #fff;
}

.componentes-triller .material-symbols-outlined{
    
    font-size: 2.7rem;
}

.componentes-triller .calificacion-edad{
    display: flex;
    align-items: center;
    background: #14141498;
    width: 90px;
    height: 100%;
    border-left: solid #fff 3px;
    padding-left: 10px;
    padding-top: 7px;
}

/*Separador con degradado*/
.separador-degradado{
    width: 100%;
    height:150px;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%);
    margin-top: -150px;
    position: absolute;
}

/*Reel de peliculas */

.reel-peliculas{
    padding-bottom: 210px;
    position:relative;
}

.continuar-viendo{
    margin-top: -90px;
}

.reel-peliculas .contenedor-reel{
    padding: 0 0 0 4%;
    float: left;
}

.reel-peliculas .contenedor-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size:medium;
    font-weight: lighter;
    margin-bottom: 10px;
}

.contenedor-title .flecha-vermas{
    margin-left: -15px;
    margin-top: -4px;
    color: #0ea2c7;
    font-weight:bold;
    visibility: hidden;
    
}

.contenedor-title .mas-visible{
    color: #0ea2c7;
    font-size: small;
    margin-left: -30px;
    transition: 0.2s;
    visibility: hidden;
}

.reel-peliculas:hover .flecha-vermas{
    visibility: visible;
    transform: 1s;
}

.contenedor-title:hover .flecha-vermas{
    transform: translate(100px);
    transition: 0.2s;
    visibility: visible;
}

.contenedor-title:hover .mas-visible{
    margin-left: -20px;
    transition: 1.5s;
    visibility: visible;
}

.contenedor-card-peliculas{
    display: flex;
    height:135px;
    justify-content: center;
    gap: 5px;
    
}

.card-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-item .icon-netflix{
    width: 20px;
    position: absolute;
    padding: 5px;
    margin-top: -90px;
    margin-left: -200px;
}

.card-item .icon-netflix-triller{
    width: 20px;
    position: absolute;
    padding: 5px;
    left: 0;
    margin-top: 5px;
}

.card-item .icon-netflix-triller img{
    width: 100%;
}

.card-item .icon-netflix img{
    width: 100%;
}

.card-item .img-item{
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.minitriller{
    width: 180px;
}

.minitriller img{
    width: 100%;
}

.item-info{
    width: 260px;
    font-size: smaller;
    position: absolute;
    border-radius: 3px;
    background-color: #141414;
    z-index: 1;
    box-shadow: -1px 2px 12px 3px rgba(0,0,0,0.69);
    -webkit-box-shadow: -1px 2px 12px 3px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px 2px 12px 3px rgba(0,0,0,0.69);
    transition: 0.1s;
    color: #fff !important;
    visibility: hidden;
}

.card-item:hover .item-info{
    width: 260px;
    visibility: visible;
    transform: scale(1.3);
    transition: 3s;
}
.minitriller{
    width: 100%;
}

.minitriller img{
    border-radius: 5px 5px 0 0;
}

.datos-video{
    padding: 1px 15px 60px;
}

.datos-video .categorias ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    float: left;
    flex-wrap: wrap;
    gap: 5px;
}

.botones-card-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.botones-card-info .contenedor-info-card{
    width: 100%;
    height: 100%;
    
}

.botones-card-info .boton-expandir{
    height: 100%;    
}

.botones-card-info div:first-child{
    display: flex;
}

.botones-card-info, .datos-conteo{
    padding: 10px 0;
    color: #fff !important;
}

.datos-conteo .porcentaje-recomendado{
    color: #46d369;
}

.datos-conteo .edad, .calidad-video{
    border: 1px solid #fff;
    padding: 4px 8px 0;
}

.botones-card-info .material-symbols-outlined{
    font-size: 2.5rem;
    height: 100%;
    border-radius: 100%;
}

.nombre-boton-flotante{
    background: #fff;
    position: absolute;
    color: #000;
    padding: 10px 15px 3px;
    font-size: 0.9rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 9px 26px -6px #000;
    margin-top: -2.5rem;
    visibility: hidden;
}


.triangulo-flotante{
    position: absolute;
    font-size: 3rem;
    color: #fff;
}

.triangulo-flotante:hover{
    background: none !important;
}

.activar-nom-flotante:hover .nombre-boton-flotante{
    visibility: visible;
}

.recomendar-video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-calificar .material-symbols-outlined{
    font-size: 1.2rem !important;
    border-radius: 100%;
    padding: 3px;
}

.contenedor-calificar .nombre-boton-flotante{
    margin-top: -3rem !important;
    visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: -1;
}

.contenedor-calificar .triangulo-flotante{
    position: absolute;
    font-size: 3rem !important;
    color: #fff;
    margin-top: 6px;
}

.contenedor-calificar .activar-nom-flotante, .contenedor-info-card .activar-nom-flotante, .boton-expandir .activar-nom-flotante{
    display: flex;
    justify-content: center;
}

.contenedor-calificar .activar-nom-flotante:hover .nombre-boton-flotante{
    visibility: visible;
}

.botones-card-info .material-symbols-outlined:hover{
    background: #94939377;
}

.recomendar-video .contenedor-calificar{
    width: 80px;
    background: #141414;
    padding: 5px 10px;
    border-radius: 100px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    transition: 0.1s ease-in-out;
    z-index: 2;
    box-shadow: -1px 2px 12px 3px rgba(0,0,0,0.69);
    -webkit-box-shadow: -1px 2px 12px 3px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px 2px 12px 3px rgba(0,0,0,0.69);
}

.recomendar-video:hover .contenedor-calificar{
    background: #141414;
    width: 90px;
    visibility: visible;
    transform: scale(1);
    transition: 1s ease;
}

.progreso{
    margin-top: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-info .progreso{
    margin-top:1px;
}

.progreo-tiempo{
    display: flex;
    flex-direction: row;
}

.progreso .barra-progreso{
    background: #a5a5a5;
    width: 150px;
    height: 3px;
}

.barra-progreso .progreso-completado{
    background: #d60e0e;
    width: 50%;
    height: 3px;
    position: absolute;
    content: '';
}


.progreso-tiempo .progreso{
    position: relative;
}

.progreso-tiempo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -15px;
    padding: 10px 0 15px;
}

.top-diez{
    padding-bottom: 240px;
}

.top-diez .card-item .img-item{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -30px;
}

.top-diez .card-item:last-child .img-item{
    margin-left: -60px;
}

.top-diez .contenedor-card-peliculas{
    height: 180px;
    padding-left: 30px;
    gap: 20px;
}

.contenedor-numero-top{
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    padding-bottom: 3px;
}

.numero-top{
    font-size: 15.8rem;
    display: flex;
    font-family: 'Tilt Warp', cursive;
    -webkit-text-stroke: 4px #777777;
    margin-top: -5px;
    overflow: hidden;
}

.card-item:last-child .numero-top{
    letter-spacing: -13px;
    font-size: 12.8rem;
}

/*Pie de p치gina*/

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 40px 0;
}

footer .contenedor-piepagina{
    width: 70%;
    padding: 0 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size:smaller;
    justify-content: center;
}

.contenedor-piepagina ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contenedor-piepagina ul li{
    list-style: none;
    color: #fff;
    flex-basis: 25%;
}

.contenedor-piepagina ul li a{
    color: #949393;
}

.contenedor-piepagina .redes-sociales{
    display: flex;
    width: 100%;
    justify-content:center;
    gap: 30px;
}

.contenedor-piepagina .redes-sociales img{
    width: 25px;
}


/*Datos desarrollador*/
.datos-desarrollador {
    background: #1c2127;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.datos-desarrollador .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    color: #ffffff;
}
.datos-desarrollador .contenedor a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all .5s;
}

.datos-desarrollador .contenedor img {
    width: 30px;
}

/*CARRUSEL*/
.carrusel{
    width: 90%;
    max-width: 120em;
    overflow: visible;
}

.carrusel .grande{
    display: flex;
    align-items: center;
    transition: all 1s;
}

.carrusel .img{
    background: lime;
    height: 100px;
}

.carrusel .puntos{
    padding-top: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carrusel .punto{
    width: 1em;
    height: 1em;
    background-color: #adadad;
    list-style: none;
    border-radius: 100%;
    cursor: pointer;
}

.carrusel .punto.activo{
    background-color: #fff;
}